<!DOCTYPE html>
<html>
<head>
    {% include head.html %}    
</head>
<body>
<!-- Page Content -->
<div class="container">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        {% assign content_col_size = "col-md-12" %}        
        <!-- Content Column -->
        <div class="{{content_col_size}}" id="tg-sb-content" style="text-align: center;">
            {{content}}			
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /#main -->
    </div>
</body>
</html>
